body {
    background-color: #e9ebee;
}

.card {
    margin-top: 0em;
}
.login_btn {
	width: 100%;
	transition: all .5s ease;
    color: #4D4D4D;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : 4D4D4D;
    padding: 10px;
    outline: none;
    border-radius: 4px;

		}
.login_btn:hover {
	color: #001F3F;
    background-color: #fff;
}