@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar_icon_top .navbar-nav .nav-link > .fa {
  position: absolute;
  width: 36px;
  font-size: 24px;

}

.navbar_icon_top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar_icon_top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar_icon_top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}


@media (min-width: 992px) {
  .navbar_icon_top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 34px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar_icon_top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 32px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar_icon_top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

